<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="oracle.apps.awcust.awcustPerson.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.13.93" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="awcustPersonDetailsVO"
      FullName="oracle.apps.awcust.awcustPerson.server.awcustPersonDetailsVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="awcustPersonAM"
      FullName="oracle.apps.awcust.awcustPerson.server.awcustPersonAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="awcustCostCentreVO"
      FullName="oracle.apps.awcust.awcustPerson.server.awcustCostCentreVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="awcustGenericAM"
      FullName="oracle.apps.awcust.awcustPerson.server.awcustGenericAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="awcustLocationVO"
      FullName="oracle.apps.awcust.awcustPerson.server.awcustLocationVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="awcustManagerVO"
      FullName="oracle.apps.awcust.awcustPerson.server.awcustManagerVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="awcustDepartmentVO"
      FullName="oracle.apps.awcust.awcustPerson.server.awcustDepartmentVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
