<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="oracle.apps.awcust.person.lov.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="ApprovalLevelLovAM"
      FullName="oracle.apps.awcust.person.lov.server.ApprovalLevelLovAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="ApprovalLevelLovVO"
      FullName="oracle.apps.awcust.person.lov.server.ApprovalLevelLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CostCentreLovAM"
      FullName="oracle.apps.awcust.person.lov.server.CostCentreLovAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="CostCentreLovVO"
      FullName="oracle.apps.awcust.person.lov.server.CostCentreLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DepartmentLovAM"
      FullName="oracle.apps.awcust.person.lov.server.DepartmentLovAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="DepartmentLovVO"
      FullName="oracle.apps.awcust.person.lov.server.DepartmentLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="EmployeeTypeLovAM"
      FullName="oracle.apps.awcust.person.lov.server.EmployeeTypeLovAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="EmployeeTypeLovVO"
      FullName="oracle.apps.awcust.person.lov.server.EmployeeTypeLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="LineManagerLovAM"
      FullName="oracle.apps.awcust.person.lov.server.LineManagerLovAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="LineManagerLovVO"
      FullName="oracle.apps.awcust.person.lov.server.LineManagerLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OfficeLovAM"
      FullName="oracle.apps.awcust.person.lov.server.OfficeLovAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="OfficeLovVO"
      FullName="oracle.apps.awcust.person.lov.server.OfficeLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="SetUserSameAsLovAM"
      FullName="oracle.apps.awcust.person.lov.server.SetUserSameAsLovAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="SetUserSameAsLovVO"
      FullName="oracle.apps.awcust.person.lov.server.SetUserSameAsLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="UserProfileLovAM"
      FullName="oracle.apps.awcust.person.lov.server.UserProfileLovAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="UserProfileVO"
      FullName="oracle.apps.awcust.person.lov.server.UserProfileVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
