<?xml version="1.0" encoding='windows-1252'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xx.oracle.apps.icx.por.rcv.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.13.93" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="xxReceiveRequisitionsVO"
      FullName="xx.oracle.apps.icx.por.rcv.server.xxReceiveRequisitionsVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
